NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=""
MIDTRANS_SERVER_KEY=""

NEXT_PUBLIC_BASE_URL=""

MONGODB_URI=""

MESHY_API_KEY=""
JWT_SECRET=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

OPENAI_API_KEY=""